<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/HKRound.png"/>
        <span id="welcomeHeader">Fiesta in HK에 오신 것을 환영합니다!</span>
        <span id="welcomeDescription" style="text-align: center;">
            하이케이에서 준비한 성대한 축제, Fiesta in HK에 오신 것을 환영합니다!<br />
            이번 Fiesta in HK 2021 Winter는 약 6개월 동안 열심히 준비해온 프로젝트입니다.<br />
            저희 서버에서, 여러분들이 새로운 즐거움을 찾을 수 있으면 좋겠습니다.
        </span>
        <br>
        <span id="welcomeDescCTA">그럼, Fiesta in HK에서 즐거운 시간 보내다 가시기를 바랍니다!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                계속하기
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>